.container{
  padding: 0 120px
}
    

.case{
  height: max-content;
  background-color: #000000;
  padding: 24px 0px;
  &__mobile{
    display: none;
  }
  &-mobile{
    display: none;
  }
    
  &__title {
    margin: 0px auto 40px;
    display: flex;
    justify-content: center;
  }
  &__button{
    padding: 9px 32px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    width: max-content;
    font-family: 'OpenSans-Bold', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin: 40px auto 0px;
    color: #FFFFFF;
  }
        
  &-tablet{
    &-small{
      display: none;
    }         
  }
  &__box{
    display: flex;
    gap: 24px;
    &__image{
      &-tablet{
        display: none;
      }       
    }
    &_mobile_text{
      display: none;
    }
    &_text{
      font-family: 'OpenSans-Regular', sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 130%;
      max-width: 386px;
      color: #F2F2F2;
      margin-top: 24px;
    }
    &_content{
      display: flex;
      align-items: flex-end;
      position: relative;
      &_text{
        position: absolute;
        padding-left: 24px;
      }
    }
    &_distance{
      margin-bottom: 24px;
    }
    &_button{
      font-family: 'OpenSans-Bold', sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      text-transform: uppercase;
      color: #00A3E1;
      margin: 48px 0px;
      cursor: pointer;
    
      &:hover::after {
        content: ">>";
        padding: 0px 2px;
        right: 20px;
        top: 8px;
        z-index: 1;
        text-align: center;
        width: 10%;
        height: 100%;
        pointer-events: none;
    }
              
  }
}
}
.featured{
  height: max-content;
  padding: 24px 0px;
  background-color: #000000;
  margin-bottom: 24px;
  height: max-content;
  &-tablet{
    &-small{
      display: none;
    }
  }
  &-second{
    &__box{
      &__image{
        width: 100%;
        height: 600px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 6, 26, 0.2) 100%);
        border-radius: 14px;
      }
                
    }
  }
  &__box{
    display: flex;
    gap: 24px;
    &__image{
      border-radius: 14px;
    }
    &_content{
      display: flex;
      align-items: flex-end;
      position: relative;
      &_text{
        position: absolute;
        padding-left: 24px;
      }
    }
  }
  &__title{
    margin: 0px auto 40px;
    display: flex;
    justify-content: center;
  }
  &__button{
    padding: 9px 32px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    width: max-content;
    font-family: 'OpenSans_Bold', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin: 40px auto 0px;
    color: #FFFFFF;
  }
  &__box{
    &_mobile_text{
      display: none;
    }
    &_text{
      font-family: 'OpenSans-Regular', sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 130%;
      max-width: 386px;
      color: #F2F2F2;
      margin-top: 48px;
    }
    &_distance{
      margin-bottom: 24px;
    }
    &_button{
      font-family: 'OpenSans-Bold', sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      text-transform: uppercase;
      color: #00A3E1;
      margin: 48px 0px;
      cursor: pointer;
      &:hover::after {
        content: ">>";
        padding: 0px 2px;
        right: 20px;
        top: 8px;
        z-index: 1;
        text-align: center;
        width: 10%;
        height: 100%;
        pointer-events: none;
      }
    }
  }
    
  }


.hide{
  display: none;
}
    

.show{
  display: block;
}
    
.hiden{
  display: none  !important;
}

.showen{
  display: block !important;
}
    
    
.hides{
  display: none  !important;
}
    

.showes{
  display: block !important;
}
    
.heighten{
  height: 360px !important;
}

.move{
  width: 1112px;
  height: 760px;
}
    

@media (max-width: 1153px){
  .container{
    padding: 0 32px
  }
  .featured{
    height: max-content ;
    padding: 48px 0px 64px;
    &-second__box__image {
      width: 100%;
      height: 360px;
    }
    &__box{
      flex-direction: column;
    }
    &__tablet{
      display: flex;
      &_image{
        width: 960px;
        height: 360px;
        border-radius: 14px;
      }
      &_plus {
        cursor: pointer;
        display: inline-block;
        width: 12px;
        height: 12px;
        background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff), #fff;
        background-position: center;
        background-size: 50% 1px,1px 50%;
        background-repeat: no-repeat;
        background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff);
        background-position: center;
        background-size: 100% 2px,2px 100%;
        background-repeat: no-repeat;
      }
      &_alt{
        background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff);
        background-position: center;
        background-size: 100% 2px,2px 100%;
        background-repeat: no-repeat;
      }
      &_minus {
        background-size: 100% 2px,0px 100%;
        margin-top: 10px;
        margin-left: 112px;
      }
    }
    &-tablet{
      &-small{
        display: block;
      }
      &_image{
        width: 960px;
        height: 120px;
        background: linear-gradient(206.66deg, rgba(0, 0, 0, 0) -45.37%, rgba(15, 6, 26, 0.7) 83.29%);
        border-radius: 14px;
      }
      &_text{
        font-family: 'OpenSans-Bold', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        color: #FFFFFF;
      }
      &_content{
        position: absolute;
      }
    }
    &__box{
      flex-direction: column;
      gap: 32px;
      &_button{
        margin: 32px 0px 24px;
      }
      &__image{
        display: block;
        width: 100%;
        height: 360px;
        &-tablet{
          display: block;
          width: 960px;
          height: 360px;
        }
      }
    }
  }
  .case{
    height: max-content;
    padding: 48px 0px 32px;
    &__text{
      width: 433px;
    }
    &__mobile{
      display: none;
      &_image{
        width: 100%;
        height: 120px;
        border-radius: 14px;
      }
      &_plus {
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 54px;
        display: inline-block;
        width: 12px;
        height: 12px;
        background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff), #fff;
        background-position: center;
        background-size: 50% 1px,1px 50%;
        background-repeat: no-repeat;
        background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff);
        background-position: center;
        background-size: 100% 2px,2px 100%;
        background-repeat: no-repeat;
      }
      &_alt{
        background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff);
        background-position: center;
        background-size: 100% 2px,2px 100%;
        background-repeat: no-repeat;
      }
      &_minus {
        background-size: 100% 2px,0px 100%;
        top: 9px;
      }
    }
    &-mobile{
      display: block;
      position: relative;
      &_text{
        display: none ;
        display: inline-block;
        font-family: 'OpenSans-Bold', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        position: absolute;
        bottom: 24px;
        color: #FFFFFF;
      }
    }
    &__button{
      display: none;
    }
    &__tablet{
      display: flex;
      &_image{
        width: 100%;
        height: 360px;
        border-radius: 14px;
      }
      &_plus {
        cursor: pointer;
        display: inline-block;
        width: 12px;
        height: 12px;
        background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff), #fff;
        background-position: center;
        background-size: 50% 1px,1px 50%;
        background-repeat: no-repeat;
        background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff);
        background-position: center;
        background-size: 100% 2px,2px 100%;
        background-repeat: no-repeat;
      }
      &_alt{
        background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff);
        background-position: center;
        background-size: 100% 2px,2px 100%;
        background-repeat: no-repeat;
      }
      &_minus {
        background-size: 100% 2px,0px 100%;
        margin-top: 8px;
        margin-left: 153px;
      }
    }
    &-tablet{
      &-small{
        display: block;
      }
      &_image{
        width: 100%;
        height: 120px;
        background: linear-gradient(206.66deg, rgba(0, 0, 0, 0) -45.37%, rgba(15, 6, 26, 0.7) 83.29%);
        border-radius: 14px;
      }
      &_text{
        font-family: 'OpenSans-Bold', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        color: #FFFFFF;
      }
      &_content{
        position: absolute;
      }
    }
    &__box{
      flex-direction: column;
      gap: 32px;
      &_button{
        margin: 32px 0px 24px;
      }
      &_distance{
        margin-bottom: 114px;
      }
      &__image{
        display: none;
        &-tablet{
          display: block;
          width: 100%;
          height: 360px;
        }
      }
    }
  }
}

@media (max-width: 660px){
  .container{
    padding: 0 16px;
  }
  .featured{
    height: max-content;
    padding: 24px 0px 16px;
    &-second__box__image {
      height: 360px
    }
    &__mobile{
      display: none;
    }
    &__title{
      margin: 0px auto 24px
    }
    &__box{
      grid-gap: 16px;
      &__image{
        width: 100%;
      }
      &-first{
        height: 120px;
      }
      &-second{
        height: 120px;
      }
      &_distance{
        margin-bottom: 126px;
      }
    }
  }
  .case{
    height: max-content;
    padding: 24px 0 16px;
    &__text{
      width: 100%;
    }
    &-mobile{
      display: block;
      position: relative;
      &_content{
        padding-left: 24px;
      }
      &_text{
        width: 300px;
        display: none;
        display: inline-block;
        font-family: 'OpenSans-Bold', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        position: absolute;
        bottom: 24px;
        color: #FFFFFF;
      }
    }
    &__button{
      display: block;
      width: 100%;
      height: 54px;
      font-size: 16px;
      line-height: 130%;
      padding: 17px 32px;
      margin: 16px 0px 0px;
    }
    &__box{
      grid-gap: 16px;
    }
    &__tablet{
      display: none;
    }
    &__mobile{
      display: block;
      &_image{
        width: 100%;
        height: 120px;
        border-radius: 14px;
      }
      &_plus {
        cursor: pointer;
        position: absolute;
        right: 85px;
        top: 85px;
        display: inline-block;
        width: 12px;
        height: 12px;
        background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff), #fff;
        background-position: center;
        background-size: 50% 1px,1px 50%;
        background-repeat: no-repeat;
        background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff);
        background-position: center;
        background-size: 100% 2px,2px 100%;
        background-repeat: no-repeat;
        &-mobile{
          cursor: pointer;
          position: absolute;
          right: 31px;
          top: 54px;
          display: inline-block;
          width: 12px;
          height: 12px;
          background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff), #fff;
          background-position: center;
          background-size: 50% 1px,1px 50%;
          background-repeat: no-repeat;
          background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff);
          background-position: center;
          background-size: 100% 2px,2px 100%;
          background-repeat: no-repeat;
        }
      }
      &_alt{
        background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff);
        background-position: center;
        background-size: 100% 2px,2px 100%;
        background-repeat: no-repeat;
      }
      &_minus {
        background-size: 100% 2px,0px 100%;
        top: 5px;
      }
    }
    &__title{
      margin: 0px auto 24px;
    }
    &__box{
      &_mobile{
        &_text{
          display: none !important;
          display: inline-block;
          font-family: 'OpenSans-Bold', sans-serif;
          font-weight: 700;
          font-size: 20px;
          line-height: 130%;
          position: absolute;
          bottom: 24px;
          color: #FFFFFF;
        }
      }
      &-first{
        height: 120px;
      }
      &-second{
        height: 120px;
      }
      &-third{
        height: 120px;
      }
      &_distance{
        margin-bottom: 126px;
        display: inline-block;
      }
      &_button{
        margin: 32px 0px 24px;
      }
    }
  }

}

@media (max-width: 414px)  {
  .case__mobile_minus {
    top: 5px;
    right: 30pxl
  }
}  



    

.distance{
  margin: 24px 0px 48px;
}
    


.highlight{
  height: 360px;
  display: block !important;
}
    

.wrap {
  width: 10000px;
  height: 1000px;
  background-color: #34648a;
}
    

.block {
  // width: 737px
    // height: 600px
  margin: 10px;
  background-color: gray;
  transition: 1s;
}
    

.biggest {
  width: 450px!important;
  height: 450px!important;
}
  
.more {
  display: none;
}
    
.float {
  height: 110px;
  background: url("../img/image1.png") no-repeat;
  width: 554px;
  margin: 5px;
  float: left;
}
    
        
.size{
  background: url("../img/image1-big.png") no-repeat;
  width: 1112px;
  height: 760px;
}
    

.small{
  width: 100px;
  background: url("../img/image1-big.png") no-repeat;
}
    

.cl_img{
  width: 1000px !important;
  height: 1112px;
}
    
.smaller
{
  height: 300px;
}
    

.my{
  position: absolute;
  height: 700px;
}
    

.height{
  width: 1112px;
  height: 760px;
}
